doctype html
html(lang='en-EN')
  head
    block meta
    meta(charset='UTF-8')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(name='copyright', content='(c)')
    meta(http-equiv='Reply-to', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //-Mobile Internet Explorer позволяет принудительно активировать технологию ClearType
    //-для сглаживания шрифтов:
    meta(http-equiv='cleartype', content='on')
    //-Просим IE переключиться в последний режим:
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //-Просим IE оформлять все в классическом стиле без учета текущей темы операционки:
    meta(http-equiv='msthemecompatible', content='no')
    title
      block title
    block style
  body
    header.header
      block header
    main.content
      block content
    footer.footer
      block footer
    block script
