extends partials/_base
block meta
  meta(name='description', content=' ')
block title
  = title
block style
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  link(rel='stylesheet', href="/stylesheets/styles.css")

block header
  include partials/_header.pug
block content
  #hero-image-single(style=`background-image: url(/images/${movie.hero_image})`)
    h1#hero-title= title

  .content-padding.clearfix
    .poster-wrapper
      img(src="/images/" + movie.poster).img-responsive

    .description-wrapper
      .description
        h2.movie-header Description
        p.movie-description= movie.description

      .main-characters
        h2.movie-header Main Characters
        ul
          -for(var i = 0; i < main_characters.length; i++)
            li= main_characters[i]




block footer
  include partials/_footer
block script
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
